@page "/Login"
@inject ITokenStorageService tokenStorageService
@inject IUserStorageService userStorageService
@inject NavigationManager navigationManager

<EditForm Model="@LoginDto" OnValidSubmit="Log_in" class="formulario-login">
    <h2>Login</h2>
    <DataAnnotationsValidator />
    <div>
        <InputText @bind-Value="LoginDto!.Username" type="text" placeholder="Usuário" />
    </div>
    <div>
        <InputText @bind-Value="LoginDto!.Password" type="password" placeholder="Senha" />
    </div>
    <div>
        <button class="btnLogin">Entrar</button>
    </div>
</EditForm>

@code {
    private LoginDto? LoginDto { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var token = await tokenStorageService.GetToken(LoginDto!);
            if (token.Bearer is null)
            {
                await tokenStorageService.RemoverToken();
            }

            if (token.Bearer is not null)
            {
                navigationManager.NavigateTo("/Schedule", true);
            }
            await base.OnInitializedAsync();
        }
        catch (Exception)
        {
            throw;
        }
    }

    private async Task Log_in()
    {
        if (LoginDto is not null)
        {
            var token = await tokenStorageService.GetToken(LoginDto);
            var user = await userStorageService.GetUserSession(LoginDto);
            if (token.Bearer is not null)
            {
                navigationManager.NavigateTo("/Schedule", true);
            }
        }
    }
}
