@page "/Sala"

@inject ISalaService salaService

<h3>Cadastro Sala</h3>
<a href="InsertSala" class="btn btn-info">Nova Sala</a>
<button data-bs-toggle="modal" data-bs-target="#novaSala" class="btn btn-info">
    Nova Sala 1
</button>

@if (salaView is null)
{
    <p>Carregando...</p>
}
else
{
    <TabelaSala salaView="@salaView" />
    <InsertSalaModal DataAtualizados="@(()=> DadosAtualzados() )" salaDto="@salaDto" />
}


@code {
    private SalaView? salaView;
    private SalaDto? salaDto;

    protected override async Task OnInitializedAsync()
    {
        salaView = await salaService.GetAll();
    }

    private async void DadosAtualzados()
    {
        salaView = await salaService.GetAll();
        StateHasChanged();
    }

}
