@page "/Sala"

@inject ISalaService salaService

<h3>Cadastro Sala</h3>
<button data-bs-toggle="modal" data-bs-target="#novaSala" class="btn btn-info">
    Nova Sala
</button>

@if (salaView is null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <TabelaSala salaView="@salaView" />
    <InsertSalaModal DataAtualizados="@(()=> DadosAtualzados())" salaDto="@salaDto" />
}

@code {
    private SalaView? salaView;
    private SalaDto? salaDto;

    protected override async Task OnInitializedAsync()
    {
        salaDto ??= new();
        salaView = await salaService.GetAll();
    }

    private async void DadosAtualzados()
    {
        salaView = await salaService.GetAll();
        StateHasChanged();
    }
}
