@inject IClientService clientService

<div class="modal fade" id="deleteClient-@ClientId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="@ClientDto" OnValidSubmit="@Delete">
                <InputNumber hidden @bind-Value="ClientDto!.Id" />
                <DataAnnotationsValidator />

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Excluir Sala</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row g-3">
                        <div class="col-12">
                            <p>Sala: @ClientDto.Name</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Excluir</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Action? DataUpdated { get; set; }

    private ClientDto? ClientDto { get; set; } = new();

    [Parameter]
    public int ClientId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        ClientDto = await clientService.GetById(ClientId);
        await base.OnInitializedAsync();
    }

    private async Task Delete()
    {
        if (ClientDto is not null)
        {
            var room = await clientService.Delete(ClientId);
            UpdateData();
        }
    }

    private void UpdateData()
    {
        DataUpdated?.Invoke();
    }
}
