@inject IScheduleUserService scheduleUserService


@if (ScheduleUserDtos is not null && ScheduleUserDtosList.Count() != 0)
{
    @for (int i = 0; i < ScheduleUserDtos.Count(); i++)
    {
        var currentSchedule = ScheduleUserDtosList[i]
                     .Where(w => w.ScheduleDto!.DateStart.Date == CurrenteDate.Date)
                     .ToList();

        @if (currentSchedule.Any())
        {
            var scheduleId = currentSchedule
                                        .Select(s => s.ScheduleId)
                                        .FirstOrDefault();
            var hourStart = currentSchedule
                                .Select(s => s.ScheduleDto!.DateStart)
                                .FirstOrDefault();
            var hourFinal = currentSchedule
                                .Select(s => s.ScheduleDto!.DateFinal)
                                .FirstOrDefault();
            UserDtos.Clear();
            <a href="#" data-bs-toggle="modal" data-bs-target="#tableScheduleUser-@scheduleId-@CurrenteDate.ToString("ddMMyyyy")" class="calenderUser">

                @foreach (var item in currentSchedule)
                {
                    string? userDisplay = item.ScheduleDto!.Particular ? $"{item.UserDto!.Name} - Particular" : item.UserDto!.Name;
                    UserDtos.Add(userDisplay!);
                }
                @{
                    UserDtos.Add($"{hourStart:HH:mm} - {hourFinal:HH:mm}");
                }
                @string.Join(", ", UserDtos)
            </a>
            <TableScheduleUserModal ScheduleId="scheduleId" DateSelected="@CurrenteDate.Date" />
        }
    }
}


@code {
    [Parameter]
    public IEnumerable<ScheduleUserDto> ScheduleUserDtos { get; set; } = [];
    [Parameter]
    public DateTime CurrenteDate { get; set; }

    List<string> UserDtos { get; set; } = [];
    private List<IEnumerable<ScheduleUserDto>> ScheduleUserDtosList { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var scheduleUserList = await GetScheduleIdLists(ScheduleUserDtos);
        foreach (var item in scheduleUserList)
        {
            ScheduleUserDtosList.Add(await scheduleUserService.GetByScheduleId(item.ScheduleId));
        }
    }
    private Task<List<ScheduleUserDto>> GetScheduleIdLists(IEnumerable<ScheduleUserDto> scheduleUserDtos)
    {
        var scheduleId = scheduleUserDtos
        .Where(w => w.ScheduleDto!.DateStart.Date == CurrenteDate.Date)
        .ToList();

        return Task.FromResult(scheduleId);
    }

}
