<div class="modal">
    <div class="modal-content">
        <p>@Mensage</p>
        <button @onclick="Confirm">Confirm</button>
        <button @onclick="Cancel">Cancel</button>
    </div>

</div>

@code {
    [Parameter]
    public string? Mensage { get; set; }
    [Parameter]
    public EventCallback<bool> OnConfirm { get; set; }

    private async Task Confirm()
    {
        await OnConfirm.InvokeAsync(true);
    }
    private async Task Cancel()
    {
        await OnConfirm.InvokeAsync(false);
    }
}
