@inject IRoomService roomService

<div class="modal fade" id="editRoom-@RoomId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="@RoomDto" OnValidSubmit="@Edit">
                <InputNumber hidden @bind-Value="RoomDto!.Id" />
                <DataAnnotationsValidator />

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Sala</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row g-3">
                        <div class="col-6">
                            <label for="inNome" class="form-label">Nome</label>
                            <InputText class="form-control" id="inNome" @bind-Value="RoomDto!.Name" placeholder="Name" />
                            <ValidationMessage For="@(() => RoomDto.Name)" />

                        </div>
                        <div class="col-6">

                            <label for="inRamal" class="form-label">Ramal</label>
                            <InputText class="form-control" id="inRamal" @bind-Value="RoomDto!.Ramal" placeholder="Ramal" />
                        </div>
                        <div class="col-12">
                            <label for="inDescricao" class="form-label">Descrição</label>
                            <InputText class="form-control" id="inDescricao" @bind-Value="RoomDto!.Description" placeholder="Descrição" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Action? DataUpdated { get; set; }

    private RoomDto? RoomDto { get; set; } = new();

    [Parameter]
    public int RoomId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        RoomDto = await roomService.GetById(RoomId);
    }

    private async Task Edit()
    {
        if (RoomDto is not null)
        {
            var room = await roomService.Update(RoomDto);
            UpdateData();
        }
    }

    private void UpdateData()
    {
        DataUpdated?.Invoke();
    }
}
