@inject IUserService userService

<div class="modal fade" id="editUser-@UserId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="@UserDto" OnValidSubmit="@Edit">
                <InputNumber hidden @bind-Value="UserDto!.Id" />
                <DataAnnotationsValidator />

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Sala</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row g-3">
                        <div class="col-6">
                            <label for="inNome" class="form-label">Nome</label>
                            <InputText class="form-control" id="inNome" @bind-Value="UserDto!.Name" placeholder="Name" />
                            <ValidationMessage For="@(() => UserDto.Name)" />

                        </div>
                        <div class="col-3">

                            <label for="inCellphone" class="form-label">Celular</label>
                            <InputText class="form-control" id="inCellphone" @bind-Value="UserDto!.Cellphone" placeholder="Celular" />
                        </div>
                        <div class="col-3">
                            <label for="inActice" class="form-label">Ativo</label>
                            <InputCheckbox class="form-control" id="inActice" @bind-Value="UserDto!.Active" placeholder="Ativo" />
                        </div>
                        <div class="col-12">
                            <label for="inDescription" class="form-label">Descrição</label>
                            <InputText class="form-control" id="inDescription" @bind-Value="UserDto!.Description" placeholder="Descrição" />
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Action? DataUpdated { get; set; }

    private UserDto? UserDto { get; set; } = new();

    [Parameter]
    public int UserId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        UserDto = await userService.GetById(UserId);
    }

    private async Task Edit()
    {
        if (UserDto is not null)
        {
            var room = await userService.Update(UserDto);
            UpdateData();
        }
    }

    private void UpdateData()
    {
        DataUpdated?.Invoke();
    }
}
