@if (!string.IsNullOrEmpty(Message.ToString()))
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            <p>@Message</p>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                x
                <span class="visually-hidden">unread messages</span>
            </span>
        </div>
    </div>

}


@code {
    [Parameter]
    public EventCallback<string> Message { get; set; }


    private async Task ReceiveMessage(string message)
    {

        await Message.InvokeAsync(message);
    }

}
