@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger d-flex align-items-center m-2" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
            <p>@Message</p>
        </div>
    </div>
}
@code {
    [Parameter]
    public string? Message { get; set; }
}
