@if (Teste is not null)
{
    <a href="#">
        @{
            string dado = string.Empty;
            dado = string.Join(",", Teste);
        }
        @dado
    </a>
}


@code {
    [Parameter]
    public IEnumerable<ScheduleUserDto> ScheduleUserDtos { get; set; } = [];
    [Parameter]
    public DateTime CurrenteDate { get; set; }

    List<string> Teste { get; set; } = [];

    protected override Task OnInitializedAsync()
    {
        foreach (var item in ScheduleUserDtos)
        {
            Teste.Add(item.UserDto.Name);
        }

        return base.OnInitializedAsync();
    }

}
