* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.titulo{
    font-size: 25px;
}
.teste {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100vh;
    overflow: auto;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendario {
    max-width: 100vw;
    height: 93vh;
    /* max-height: 600px;*/
    margin: 5px auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.dia-semana {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    justify-content: center;
}

    .dia-semana div {
        display: inline-block;
        font-weight: bold;
        width: 13.5%;
        color: black;
        margin: 0.3%;
        text-align: center;
    }

.centro-mes {
    display: flex;
    width: 100%;
}

.dia-mes {
    width: 100%;
}

    .dia-mes div {
        display: inline-block;
        width: 13%;
        height: 13vh;
        margin: 0.6%;
        color: #000;
    }

        .dia-mes div p {
            font-weight: bold;
        }

.nome-mes > p {
    width: 350px;
    text-align: center;
}

.pn-mes {
    width: 90px;
}

.dia {
    border: 1px solid #000;
    border-radius: 5px;
    overflow: auto;
}

.vazio {
    border: none;
}
/*.conteudoDia {
    margin: 16px 0 0 0;
}*/
a {
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

    a:hover {
        background-color: #4F6363;
        color: white;
    }

.desc-mes {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

    .desc-mes > nav > ul > li > p, button {
        font-size: 25px;
        display: inline-block;
    }

.domingo {
    background-color: rgba(255,0,0,0.3);
}

.sabado {
    background-color: rgba(117, 115, 115,0.3);
}

.dia-atual {
    background: #15f65f;
}
