@inject IScheduleUserService scheduleUserService


@if (ScheduleUserDtos is not null)
{
    @for (int i = 0; i < ScheduleUserDtos.Count(); i++)
    {
        @if (ScheduleUserDtosList.Count() != 0)
        {
            var scheduleId = ScheduleUserDtosList[i]
                          .Where(w => w.ScheduleDto!.DateStart.Date == CurrenteDate.Date)
                          .Select(s => s.ScheduleId)
                          .FirstOrDefault();
            var hourStart = ScheduleUserDtosList[i]
                          .Where(w => w.ScheduleDto!.DateStart.Date == CurrenteDate.Date)
                          .Select(s => s.ScheduleDto!.DateStart)
                          .FirstOrDefault();
            var hourFinal = ScheduleUserDtosList[i]
                          .Where(w => w.ScheduleDto!.DateStart.Date == CurrenteDate.Date)
                          .Select(s => s.ScheduleDto!.DateFinal)
                          .FirstOrDefault();

            string dado = string.Empty;

            UserDtos.Clear();
            <a href="#" data-bs-toggle="modal" data-bs-target="#tableScheduleUser-@scheduleId-@CurrenteDate.ToString("ddMMyyyy")" class="calenderUser">
                @foreach (var item in ScheduleUserDtosList[i])
                {
                    @if (item.ScheduleDto!.Particular)
                    {
                        UserDtos.Add($"{item.UserDto!.Name} - Particular");
                    }
                    else
                    {
                        UserDtos.Add($"{item.UserDto!.Name}");
                    }
                }
                @{
                    UserDtos.Add($"{hourStart.ToString("HH:mm")} - {hourFinal.ToString("HH:mm")}");
                }


                @string.Join(", ", UserDtos)
            </a>
            <TableScheduleUserModal ScheduleId="scheduleId" DateSelected="@CurrenteDate.Date" />
        }
    }
}


@code {
    [Parameter]
    public IEnumerable<ScheduleUserDto> ScheduleUserDtos { get; set; } = [];
    [Parameter]
    public DateTime CurrenteDate { get; set; }

    List<string> UserDtos { get; set; } = [];
    private List<IEnumerable<ScheduleUserDto>> ScheduleUserDtosList { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var scheduleUserList = await GetScheduleIdLists(ScheduleUserDtos);
        foreach (var item in scheduleUserList)
        {
            ScheduleUserDtosList.Add(await scheduleUserService.GetByScheduleId(item.ScheduleId));
        }
    }
    private Task<List<ScheduleUserDto>> GetScheduleIdLists(IEnumerable<ScheduleUserDto> scheduleUserDtos)
    {
        var scheduleId = scheduleUserDtos
        .Where(w => w.ScheduleDto!.DateStart.Date == CurrenteDate.Date)
        .ToList();

        return Task.FromResult(scheduleId);
    }

}
