@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
    <NavMenu />
    </div>
    *@
    <main>
        <figure class="text-center mt-4">
            <blockquote class="blockquote">
                <p>Agenda de salas</p>
            </blockquote>
        </figure>
        <article class="content px-1">
            @Body
        </article>
    </main>
</div>
