* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.calendario {
    max-width: 1000px;
    max-height: 500px;
    margin: 5px auto;
    background-color: #FFF;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.dia-semana {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

    .dia-semana span {
        display: inline-block;
        font-weight: bold;
        width: calc(95% / 7);
        color: black;
        text-align: center;
    }

.dia-mes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

    .dia-mes span {
        display: inline-block;
        width: calc(95% / 7);
        height: 60%;
        margin: 1px;
        color: #000;
    }

.dia {
    border: 1px solid #000;
    border-radius: 5px;
    overflow: auto;
}

.vazio {
    border: none;
}

.dia-atual {
    background: #15f65f;
}

    .dia-atual > a {
        display: block;
        font-weight: bold;
        text-decoration: none;
    }

.domingo {
    background-color: rgba(255,0,0,0.3);
}

.sabado {
    background-color: rgba(206,206,206,0.3);
}

.desc-mes {
    display: flex;
    width: 100%;
    justify-content: center;
}

    .desc-mes > nav > ul > li > p, button {
        font-size: 25px;
        display: inline-block;
    }
