@inject ISalaService salaService
@inject NavigationManager NavigationManager


<div class="modal fade" id="novaSala" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="@salaDto" OnValidSubmit="@Create">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Castrato de Sala</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <InputText @bind-Value="salaDto!.Nome" placeholder="Nome" />
                    <InputText @bind-Value="salaDto!.Ramal" placeholder="Ramal" />
                    <InputText @bind-Value="salaDto!.Descricao" placeholder="Descrição" />
                </div>
                <div class="modal-footer">
                    <button type="submit" @onclick="@UpdateDados" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public SalaDto? salaDto { get; set; }

    [Parameter]
    public Action? DataAtualizados { get; set; }

    private SalaView? salaView;

    protected override async Task OnInitializedAsync()
    {
        salaDto ??= new();

        await base.OnInitializedAsync();
    }
    private async Task Create()
    {
        if (salaDto is not null)
        {
            var sala = await salaService.Create(salaDto);
            StateHasChanged();

            // NavigationManager.NavigateTo("/Sala");
        }

    }

    private async Task UpdateDados()
    {
        salaView = await salaService.GetAll();
        DataAtualizados?.Invoke();
    }
}
